@model List<project_mvc.Models.Domain.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Instructor ID </th>
            <th>Faculty </th>
            <th>Start Date </th>
            <th>End Date </th>
            <th>Credits </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseID</td>
                <td>@course.CourseName</td>
                <td>@course.InstructorID</td>
                <td>@course.Faculty</td>
                <td>@course.StartDate.ToString("dd-MM-yyyy")</td>
                <td>@course.EndDate.ToString("dd-MM-yyyy")</td>
                <td>@course.Credits</td>
            </tr>
        }
    </tbody>
</table>
